---
- name: Install GPG
  tags: nodejs, install, setup
  apt:
    name: gnupg
    state: present

- name: Install ca-certs
  tags: nodejs, install, setup
  apt:
    name: ca-certificates
    state: present

    ## May need to dearmor this?
    ## see this comment on how: https://stackoverflow.com/a/73805885

    #
- name: Install nodesource gpg keys
  ansible.builtin.get_url:
    url: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
    dest: /etc/apt/keyrings/nodesource.gpg

    # - name: Install the gpg key for nodejs LTS
#   shell: curl -fsSL https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key | gpg --dearmor -o /etc/apt/keyrings/nodesource.gpg

- name: Add Nodesource repos
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/nodesource.gpg] https://deb.nodesource.com/node_{{ NODEJS_VERSION }}.x nodistro main"
    state: present
    update_cache: yes
    filename: nodesource

- name: Install NodeJS
  tags: nodesjs, install
  apt:
    name: nodejs
    state: latest
